.switch {
  position: absolute;
  display: inline-block;
  top: 25px;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 25px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider.light:before {
  content: '🌞';
}

.slider.dark:before {
  content: '🌛';
}

input:checked + .slider {
  background-color: #1b70b6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-height: 620px) {
  .slider {
    position: absolute;
    top: 0px;
    height: 25px;

    transition: 0.5s;
  }
  .switch {
    top: 5px;
  }
  .slider {
    line-height: 20px;
  }

  .slider.light:before {
    font-size: 11px;
  }

  .slider.dark:before {
    font-size: 11px;
  }

  .slider:before {
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(32px);
    -ms-transform: translateX(32px);
    transform: translateX(32px);
  }
}
